build/*
bin/*
libs/*/*

env*/*

*.tar.gz
*.whl
.ipynb_checkpoints
__pycache__
*.o

./*.ipynb
./*.mpmat

win/**
!win/mpinv.sln
!win/mpinv.vcxproj
!win/mpinv.vcxproj.filters
!win/8x8.mpmat
